<main>
  <h1 class="heading">Silver Line</h1>
  <h3 class="sub-heading">Select What Station You Are Using</h3>
  <div class="stations">
    <% @silver_stations.each do |station| %>
      <div class="station">
        <%= link_to station.name, station_path(station) %>
      </div>
    <% end %>
  </div>
</main>
